# ignore all
*

# except
!*.c
!*.h
!*.sh
!*.svg
!*.md

!deps
!deps/dynarr
!deps/hashmap
!deps/sparse
!deps/circbuf

!core
!core/ui
!core/display
!core/input
!core/logger

!client


# libs softlinks
!deps/*.a

!.gitignore

!experimental
!backups

